.tableberg-responsiveness-device-switcher-container {
    display: flex;
    margin-bottom: 1rem;
}

.tableberg-responsiveness-device-switcher.components-button {
    flex-direction: column;
    height: 3.25rem;
    flex-grow: 1;
    box-shadow: inset 0 0 0 1px #949494;
}

.tableberg-responsiveness-device-switcher.is-pressed.components-button {
    box-shadow: inset 0 0 0 1px #1e1e1e;
}
